body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  padding: 40px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

.block {
  display: flex;
  flex: 1 0 50%;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  align-self: end;
  justify-content: end;
  font-weight: 400;
  font-size: 24px;
}

.description {
  align-self: start;
  justify-content: start;
  font-weight: 200;
  font-size: 18px;
}

.note {
  font-weight: 200;
  font-size: 12px;
  text-align: right;
}
